$blue: #1877f2;
$green: #42b72a;
$border-radius: .2rem;
$paragraph-margin-bottom: 0;
$gray-600: rgb(245,245,245);
@import '~bootstrap/scss/bootstrap';

body{
  min-height: 100vh;
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.user-div:hover{
  background-color: rgb(250,250,250);
}

.messages_box{
  height: 550px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }
}
.date_text{
  color:  #cccac4
}

.msg-input::placeholder{
  color: rgba(0,0,0,0.5)
}

.info-text{
  color: rgba(0,0,0,0.5);
  text-align: center;
  margin-bottom: 1rem;
}

.input_form{
  align-items: center;
}

.msg_form {
  flex-grow: 1;
}